<div class="panel" ng-controller="formController">
    <button class="btn btn-success" ng-click="editEvent('NEW')">
        <span class="glyphicon glyphicon-user"></span> Erstellt eine neue Veranstaltung
    </button>
<div class="row"  >
    <div class="col-md-8" id="article">

        <span><Strong> Formular für Veranstaltungen </Strong><br /></span>
        <P>
            Bitte füllen Sie möglich alle Felde.
        </P>
    </div>
    <div  class="col-md-4">
        <form novalidate class="form-horizontal">

            <div class="form-group">
                <label for="semester" class="col-sm-2 control-label"> Aktuelles Semester:</label>
                <div class="col-sm-10">
                <input  type="text" id="semester" ng-model="fevents.semester"  size="30" name="semester" required />
                </div>
            </div>
            <div class="form-group">
                <label for="titel" class="col-sm-2 control-label"> Titel: </label>
                <div class="col-sm-10">
                <input type="text" id="titel" ng-model="fevents.titel" required name="titel"  />
                </div>
            </div>
            <div class="form-group">
                <label for="language" class="col-sm-2 control-label">Language: </label>
                <div class="col-sm-10">
                <select name="language"  ng-model="fevents.language" id="language" >
                    <option value="de">Deutsch</option>
                    <option value="en">English</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <label for="date" class="col-sm-2 control-label">Datum: </label>
                <div class="col-sm-10">
                <input type="text" id="date" ng-model="fevents.datum" required name="date" />
                </div>
            </div>
            <div class="form-group">
                <label for="zeit" class="col-sm-2 control-label">Uhr: </label>
                <div class="col-sm-10">
                <input type="datetime" id="zeit" ng-model="fevents.zeit" required  name ="zeit"  />
                </div>
            </div>
            <div class="form-group">
                <label for="ort" class="col-sm-2 control-label">Ort: </label>
                <div class="col-sm-10">
                <input type="text" required name="ort" id="ort" ng-model="fevents.ort" />
                </div>
            </div>
            <div class="form-group">
                <label for="link" class="col-sm-2 control-label">Link: </label>
                <div class="col-sm-10">
                <input type="url" id="link"required ng-model="fevents.link" name="link" />
                </div>
            </div>
            <div class="form-group">
                <label for="beschreibung" class="col-sm-5 control-label">Beschreibung</label>
                <div class="col-sm-10">
                <textarea name="description" ng-model="fevents.beschreibung"id="beschreibung"cols="25" rows="5"></textarea>
                </div>
            </div>

        </form>

    </div>
    <div class="col-md-3"></div>
    <div  class="col-md-5" style="border-spacing: 0.7em;">
        <form novalidate class="form-horizontal">

            <div class="form-group">
                <div class="col-sm-10">
                <spa>{{fevents.semester}}</spa>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                <span> {{fevents.titel}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.language}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.datum}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.zeit}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.ort}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.link}}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <span>{{fevents.beschreibung}}</span>
                </div>
            </div>

        </form>

    </div>

</div>
    <button class="btn btn-success" ng-click="save(kalender.bereich)">
        <span class="glyphicon glyphicon-save"></span> Save Changes
    </button>
    <div>

    </div>
</div>
