<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kalender Formular </title>
    <script src="lib/angularjs.js" type="text/javascript"></script>
    <script type="text/javascript" src="lib/dataKalender.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="lib/home.css"/>
    <link rel="shortcut icon" href="lib/favicon.ico" type="image/ico" />
</head>

<script type="text/javascript" >

    //TODO Erweitern Sie das Modul,sodass Event edtidiert oder gelöscht werden können

    var kalenderApp = angular.module("kalenderApp", []);

    kalenderApp.factory("eventService", function(){

        this.dataList = dataBase;
        this.aktuelleBereich = this.dataList[0];
       this.addEvent = function(bereich, event){
           var index = this.getBereichID(bereich);
           if( index != null){
               var temp = angular.copy(event);
               this.dataList[index].events.push(temp);
           }
           else{
               var newEvent= {bereich:bereich, events:[]};
               this.dataList.push(newEvent);
               this.addEVent(bereich,event);
           }
       };
        this.getBereichID=function(bereich){
            var result = null;
            angular.forEach(this.dataList , function(value,key){
                 if(value.bereich == bereich)
                 result = key;
            });
            return result;
        };
        this.setAktuelleBereich=function(bereich){
            var index = this.getBereichID(bereich);
            alert(index);
            this.aktuelleBereich = this.dataList[index];

        }
        this.getAktuelleBereich=function(){
           return this.aktuelleBereich ;

        }
        this.editEvent = function(bereichid,event,id){
           this.dataList[bereichid].events[id] = event;
        };
        this.deleteEvent=function(bereichid,id){
            this.dataList[bereichid].events[id] = {};
        }
        return  this;
    });

    kalenderApp.controller("mainCtrl",function($scope, eventService){
        $scope.kalender = eventService.getAktuelleBereich();
        $scope.showBereich = function(bereich){
            alert(bereich);
            eventService.setAktuelleBereich(bereich);
            $scope.kalender = eventService.getAktuelleBereich();
        }
    });

    kalenderApp.controller("kalenderCtrl", function ($scope, eventService) {


    });



    kalenderApp.controller ("formController",function ($scope, eventService) {

        $scope.fevents  =  $scope.kalender.events[0];
       $scope.editEvent= function(attr){

           if(attr == "NEW"){
               $scope.fevents ={};
           }else{
               //Todo Edit erweitern!
           }
       };
        //TODO Delete implementieren!

        $scope.save = function(bereich){
            eventService.addEvent(bereich,$scope.fevents);
            $scope.fevents ={};
        }
    });

    kalenderApp.controller ("menuCtrl",function ($scope, eventService){


    });



</script>

<body ng-app="kalenderApp"  class="container-fluid" ng-controller="mainCtrl" >

<div id="header" class="page-header">
    <img width="341" height="120" src="lib/thm_logo.png"  alt="THM" />
</div>

<div id="menu" class="panel" ng-controller="menuCtrl">
    <table id="menutable">
        <tr>
            <td class="menuitem"  ng-click="showBereich('BDP')">Buddy Programm</td>
        </tr>
        <tr>
            <td  class="menuitem" ng-click="showBereich('OUTP')">Outgoing</td>
        </tr>
        <tr>
            <td  class="menuitem" ng-click="showBereich('INP')"> Incoming</td>
        </tr>
        <tr>
            <td  class="menuitem" ng-click="showBereich('ICC')"> ICC</td>
        </tr>
    </table>

</div>
<div id="main" class="panel" >
    <div class="panel" ng-controller="kalenderCtrl">

        <div  class="panel-body" >
            <div id="article" class="panel-body">
                <p>
                <h1> Herzlich Willkomen bei Kalender Generator im Bereich {{kalender.bereich}}</h1><br />

                </p>
            </div>
        <table class="table table-striped" ng-hide="kalender.events.length == 0">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Semester</th>
                <th>Datum</th>
                <th>Zeit</th>
                <th>Ort</th>
                <th>Freigabe</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="event in kalender.events">
                <td>{{event.titel}}</td>
                <td>{{event.semester}}</td>
                <td>{{event.datum}}</td>
                <td>{{event.zeit}}</td>
                <td>{{event.ort}}</td>
                <td>{{event.frei}}</td>
            </tr>
            </tbody>
        </table>
        </div>

    </div>

        <div class="panel" >
            <div ng-include="'formularKalender.html'"></div>
        </div>
</div>


</body>
</html>
