<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test Angular</title>
<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kalender Formular </title>
    <script type="text/javascript" src="lib/jquery.js"></script>
    <script src="lib/angularjs.js" type="text/javascript"></script>
    <script type="text/javascript" src="Test.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="lib/home.css"/>
    <link rel="shortcut icon" href="lib/favicon.ico" type="image/ico" />
</head>
</head>
<body ng-app="myModule"  class="container-fluid" >

<div id="header" class="page-header">
    <img width="341" height="120" src="lib/thm_logo.png"  alt="THM" />
</div>
<div id="menu" class="panel">
    <table id="menutable">
        <tr>
            <td class="menuitem"  >Buddy Programm</td>
        </tr>
        <tr>
            <td  class="menuitem" >Outgoing</td>
        </tr>
        <tr>
            <td  class="menuitem" > Incoming</td>
        </tr>
        <tr>
            <td  class="menuitem" > ICC</td>
        </tr>
    </table>

</div>
<div id="main" class="panel" >
    <div class="panel" ng-controller="MyController">
        <div  class="angular_jquery">
            <h1 id="angular_jquery" >Test Jquery in Angular  </h1>
        </div>
    </div>
    <div class="panel" ng-controller="kalenderData">

        <div  class="panel-body" >
            <div id="article" class="panel-body">
                <p>
                <h1> Herzlich Willkomen bei Kalender Generator im Bereich ICC</h1><br />

                </p>
            </div>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Titel</th>
                    <th>Semester</th>
                    <th>Datum</th>
                    <th>Zeit</th>
                    <th>Ort</th>
                    <th>Freigabe</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="event in kalender ">
                    <td>{{event.titel}}</td>
                    <td>{{event.semester}}</td>
                    <td>{{event.datum}}</td>
                    <td>{{event.zeit}}</td>
                    <td>{{event.ort}}</td>
                    <td>{{event.freigabe}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>


</body></html>