<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head >
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Kalender Formular </title>
    <script src="lib/angularjs.js" type="text/javascript"></script>
    <script type="text/javascript" src="lib/dataKalender.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap-theme.css"/>
    <link rel="stylesheet" type="text/css" href="lib/home.css"/>
    <link rel="shortcut icon" href="lib/favicon.ico" type="image/ico" />
</head>

<script type="text/javascript" >

    //TODO implementieren Sie hier ein Module mit einem Service und Controller
    //TODO Der Service soll das Datenshema mit Hilfe von 3 Methoden(add,Sub,Mul) verwalten

</script>
 <? TODO geben Sie den Name des Modules ein! ?>
<body ng-app="..."  class="container-fluid"  >

<div id="header" class="page-header">
    <img width="341" height="120" src="lib/thm_logo.png"  alt="THM" />
</div>

<div id="menu" class="panel" >

</div>
<? TODO  geben Sie Name des Controller ein! ?>

<div id="main" class="panel" ng-controller="...">
    <div class="col-md-10">
    <div  class="form-horizontal">
        <div class="form-group">
            <label for="erste" class="col-sm-5 control-label"> Erste Zahl:</label>
            <div class="col-sm-5">
                <input  type="number" id="erste" ng-model="..."   name="erste" ng-required="true"  />
                </div>
         </div>
            <div class="form-group">
                <label for="zweite" class="col-sm-5 control-label"> Zweite Zahl: </label>
                <div class="col-sm-5">
                    <input type="number" id="zweite" ng-required="true" ng-model="..."  name="zweite"  />
                </div>
            </div>

        <div class="form-group">
            <label for="add" class="col-sm-5 control-label"> Add:</label>
            <div class="col-sm-5" id="add">
            <span ng-hide="operand.erste == null || operand.zweite == null">{{operand.erste + operand.zweite}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="sub" class="col-sm-5 control-label"> Sub: </label>
            <div class="col-sm-5" id="sub">
                <span ng-hide="operand.erste == null || operand.zweite == null"> {{operand.erste - operand.zweite}}</span>

            </div>
        </div>
        <div class="form-group">
            <label for="mul" class="col-sm-5 control-label"> Mul: </label>
            <div class="col-sm-5" id="mul">
                <span ng-hide="operand.erste == null || operand.zweite == null">{{operand.erste * operand.zweite}}</span>
            </div>

        </div>

        </div>
    </div>
    </div>


</div>


</body>
</html>
