@CHARSET "ISO-8859-1";

body {
	vlink:"#0000CC";
	text:"#000000";
	link:"#0000CC";
	bgcolor:"#FFFFFF";
	alink:"#0000CC";
	height: 250px;
}

h1 {
  font:             bold 1.5em sans-serif;
  margin:           0px;
  padding-top:      4px;
  padding-bottom:   4px;
}

p {
  margin: 0px;
  padding: 0px;
}

#header  {
   height:auto;
  background-color: #FFFFFF;
}

#main{
padding-top: 20px;
max-width: 500px;
max-height: 200px;
margin-left:20em;

}
#main2{
	padding-top: 20px;
	max-width: 500px;
	max-height: 200px;
	margin: auto;
}
#menu{
	padding-top: 20px;
	margin-right:20px;
	width: 200px;
	float: left;
	height: 200px;
	both:clear;
	 border: 1px none #bbb;
	  margin-bottom: 1em;
    padding: 0.4em;

}
#menutable{
padding-top: 10px;
}
#article{
	background-color: #BDBDBD;
	margin: 50px;

}
.menuitem{
	font-style:normal;
	font-family:sans-serif;
	font-size:x-large;
	cursor:pointer;
	/* border: 1px solid black;*/

}

.menuitem:HOVER {
	color: red;
}

.tablecss{
	 background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
     outline: 0 none;
    padding: 0;
    vertical-align: baseline;
     color: #4a5c66;
    font-family: Verdana,Arial;
    line-height: 1.4em;
}
.formularitem{
	margin: 0.4em;
	font-weight: 0.5em;
	white-space: inherit;
}



